{{template "base" .}}

{{define "body"}}
<p>
Message from `test` template data: {{index .StringMap "test"}}
</p>

<p>
{{if ne (index .StringMap "remote_ip") ""}}
The remoteIP is {{index .StringMap "remote_ip"}}.
{{else}}
Visit the <a href="/">Home Page</a> to set remoteIP.
{{end}}
</p>

{{end}}
